body {
    font-size: 16px;
    font-family: 'DejaVu Sans', system-ui;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.link {
    padding: 1em;
    display: inline-block;
}

.link:hover,
.link:focus {
    background: #EEE;
}
