@import "normalize.css";

@import "./form.css";
@import "./login.css";
@import "./index.css";
@import "./show.css";
@import "./show-poi.css";

$nav-padding: 0.5em;
$footer-height: 9.5em;

body {
    font-size: 16px;
    font-family: 'DejaVu Sans', system-ui;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - $footer-height - 2 * $nav-padding - 1.5em);
    box-sizing: border-box;
    padding: 1em;
}

.link {
    padding: 1em;
    display: inline-block;

    &:hover,
    &:focus {
        background: #EEE;
    }
}

.main-footer {
    min-height: $footer-height;
    box-sizing: border-box;

    text-align: center;
    padding: 1em;

    background: #EEE;
    color: #333;
}

%flex {
    display: flex;
}

.flex-row {
    @extend %flex;
    flex-flow: row nowrap;
}

.flex-column {
    @extend %flex;
    flex-flow: column nowrap;
}

.flex-shelf {
    @extend %flex;
    flex-flow: row wrap;
}

nav.navbar {
    box-sizing: border-box;
    line-height: 1;

    &, & > .navbar-left, & > .navbar-right {
        @extend .flex-row
    }

    & > .navbar-right {
        margin-left: auto;
    }

    & span, & a {
        padding: $nav-padding;
    }

    & .navbar-brand {
        font-size: 1.2rem;
        font-variant: small-caps;
    }
}
