body {
    font-size: 16px;
    font-family: 'DejaVu Sans', system-ui;
}

.map {
    min-height: 60vh;
}

@media (min-width: 940px) {
    .layout {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        max-width: 1200px;
        margin: 0 auto;
        height: 100vh;
    }

    .app {
        flex: 0 1 26rem;
        max-height: 100%;
        overflow-y: scroll;
        order: 0;
    }

    .map {
        flex: 1 0 640px;
        order: 1;
    }
}

form {
    padding: 1em;
}

form div {
    display: flex;
    flex-flow: row nospan;
    justify-content: flex-start;
    align-items: baseline;

    margin-bottom: 0.25em;
}

form div label {
    width: 10em;
    margin-right: 1em;
    font-size: 75%;
    font-weight: bold;
    text-align: right;
}
