.map {
    min-height: 60vh;
    box-sizing: border-box;
}

.app {
    box-sizing: border-box;

    & .h1 {
        margin: 0.5em 0;
    }

    & .items li {
        margin-bottom: 0.75em;
    }
}

@media (min-width: 940px) {
    .layout.layout--show {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .app {
        flex: 0 1 26rem;
        max-height: 100%;
        overflow-y: scroll;
        order: 0;
    }

    .map {
        flex: 1 0 640px;
        order: 1;
    }
}
