.map {
    min-height: 60vh;
    box-sizing: border-box;
}

.app {
    padding: 1em;
    box-sizing: border-box;
}

.app h1 {
    margin: 0.5em 0;
}

@media (min-width: 940px) {
    .layout {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        max-width: 1200px;
        margin: 0 auto;
        height: 100vh;
    }

    .app {
        flex: 0 1 26rem;
        max-height: 100%;
        overflow-y: scroll;
        order: 0;
    }

    .map {
        flex: 1 0 640px;
        order: 1;
    }
}
