.map-image-container {
    position: relative;
    float: right;
    padding: 0.25em;
}

.map-image-container .marker {
    width: 10px;
    height: 10px;
    background: #D00;
    border-radius: 50%;

    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}

.schedule {
    margin-bottom: 1em;
}

.schedule .mon,
.schedule .tue,
.schedule .wed,
.schedule .thu,
.schedule .fri,
.schedule .sat,
.schedule .sun {
    display: inline-block;
    background: black;
    color: white;
    padding: 0.25em;
}

.schedule .sat {
    background: #fa0;
    color: black;
}

.schedule .sun {
    background: #ffa;
    color: black;
}
