<!DOCTYPE html>
<html>
    <head>
        <title>Map points display</title>
        <link href="/css/app.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    </head>
    <body>
        <div class="layout">
            <ul id="data_files" class="data-files">
                <li class="data-file">
                    <a href="#">Data file 1</a>
                </li>
            </ul>
        </div>

        <script src="/cljs-out/dev-main.js"></script>
    </body>
</html>
