<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1" />
        <title>Map points display</title>
        <link href="/css/app.css" rel="stylesheet" />
    </head>
    <body>
        <div class="layout">
            <div>
                <h1>List of files</h1>
                <ul id="data_files" class="data-files">
                    <li class="data-file">
                        <a href="#">Data file 1</a>
                    </li>
                </ul>
            </div>
        </div>

        <script src="/cljs-out/dev-main.js"></script>
    </body>
</html>
