<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1" />
        <title>Map points display</title>
        <link href="../public/css/app.css" rel="stylesheet" />
    </head>
    <body>
        <div class="layout">
            <main>
                <h1>List of tables</h1>
                <ul id="data_tables" class="data-tables">
                    <li class="data-table">
                        <a href="#" class="link">Data table 1</a>
                    </li>
                    <li class="data-table">
                        <a href="#" class="link">Data table 2</a>
                    </li>
                </ul>
            </main>
        </div>

        <script src="/cljs-out/dev-main.js"></script>
    </body>
</html>
