<!DOCTYPE html>
<html>
    <head>
        <title>Map points display</title>
        <link href="/css/app.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin=""></script>
    </head>
    <body>
        <div class="layout">
            <div id="app" class="app">
                <h1>Map view</h1>
                <article class="places">
                    <section class="group">
                        <h2 class="group-type">Type</h2>
                        <ul class="items">
                            <li>
                                <div class="item-name">Item name</div>
                                <p class="item-address">Item address</p>
                            </li>
                        </ul>
                    </section>
                </article>
            </div>
            <div id="map" class="map"></div>
        </div>

        <script src="/cljs-out/dev-main.js"></script>
    </body>
</html>
