<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1" />
        <title>Map points display</title>
        <link href="../public/css/app.css" rel="stylesheet" />
    </head>
    <body>
        <div class="layout">
            <main>
                <div class="map-image-container">
                    <img src="https://loremflickr.com/320/280" />
                    <div class="marker"></div>
                </div>

                <h1>Title</h1>

                <p id="address">A middle-length string for address</p>

                <p id="notes">
                    Some probably long-flowing notes.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac arcu et ante dictum rhoncus id at enim. Proin a tempus ipsum. Proin quis convallis nulla, volutpat aliquam dolor. Morbi dignissim pellentesque purus eget rutrum. Aliquam sit amet erat et mauris tincidunt porta a ut felis. Aliquam erat volutpat. Donec sed eleifend erat, a facilisis purus. Proin et est eros.
                </p>

                <div id="schedule" class="schedule">
                    <div class="schedule-row"><span class="mon">Mon</span>–<span class="fri">Fri</span> 10:00–20:00</div>
                    <div class="schedule-row"><span class="sat">Sat</span> 10:00–18:00</div>
                    <div class="schedule-row"><span class="sun">Sun</span> 12:00–18:00</div>
                </div>
            </main>
        </div>
    </body>
</html>
